:host {
  display: block;
  --color: white;
  overflow: hidden;
}

.main {
    display: flex;
    justify-content: center;
    background-attachment: fixed;
     background-repeat: no-repeat;
     background-image: url("../../assets/images/maja.jpg");
}


.content {
  width: 95vw;
  max-width: 800px;
  background-color: #1c231d;
  padding: 0px 60px;
}
