:host {
  display: block;
  top: 0;
}

.nav {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner {
  max-width: 95vw;
  width: 800px;
  margin-bottom: 5px;
}

.titleContainer{
  align-self: center;


}
.nav-bar {
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  align-self: center;


  display: flex;
  justify-content: space-around;

}

.nav-item {
  list-style: none;
}

.nav-item>a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #F1E4E8;
}
