:host {
  display: block;
}

.content {
  padding-bottom: 20px;
}

.socials-row {
  display: flex;
  justify-content: space-between;
}


.socials-row>a>img {
  object-fit: scale-down;
  max-width: 50px;
}